@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }
  
  header {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  h1 {
    margin: 0;
    flex-grow: 0.958;
    text-align: center;
    font-size: xx-large;
    font-family: 'Raleway';
  }
  
  .home-button {
    color: #fff;
    text-decoration: none;
    padding: 6px 12px;
    margin-right: 10px;
    background-color: #666;
    border-radius: 4px;
  }
  .gallery {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }
  
  .gallery-item {
    width: 200px;
    height: 170px;
    margin: 10px;
    position: relative;
    cursor: pointer;
    border: 4px solid #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, border-color 0.3s, box-shadow 0.3s;
  }
  
  .gallery-item:hover {
    transform: scale(1.05);
    border-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  .gallery-item:hover .tooltip {
    display: block;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 999;
    white-space: nowrap;
  }

  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .category-image {
    width: 350px; /* Adjust the size of each image */
    height: auto;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 100px;
    border: 2px solid #cccccc; /* Add a border around the images */
    border-radius: 5px; /* Add rounded corners to the images */
    transition: 0.2s;
}
.img-des{
    background-color: black;
    font-size: 23px;
    top: 0;
}
.category-image:hover{
    box-shadow: 0 0 2px 5px rgb(195, 0, 255);
}
.category-h2{
    text-align: center;
    font-family: 'Kalam', cursive;  
    font-size: xx-large;
    letter-spacing: 5px;
}

.enlarged-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.enlarged-image {
  max-width: 90%;
  max-height: 90%;
}

.navigation-button {
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 28px;
  cursor: pointer;
  transition: opacity 0.3s;
  width: 50px;
  height: 65px;
  background-image: linear-gradient(95deg, rgba(122, 248, 255, 0.508), cyan);
  background-position: center;
  background-repeat: no-repeat;
}

.prev-button {
  left: 40px;
}

.next-button {
  right: 40px;
}

.navigation-button:hover {
  opacity: 0.7;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}
.image-description {
  position: absolute;
  bottom: 7%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  font-size: 30px;
  font-family: 'kalam', cursive;
  border-radius: 15px;
}

/* Add any additional styling as needed */
