body{
    margin: 0;
    padding: 0;
}
.topBar{
    background-color: none;
    padding: 1px;
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topBar ul{
    list-style-type: none;
    white-space: nowrap;
    padding: auto;
}
.topBar li{
    border-radius: 15px;
    padding: 20px;
    display: inline-block;
    margin: 0 20px;
    font-size: x-large;
    font-family: 'Quicksand';
    font-weight: 500;
    color: black;
}
.topBar li:hover{
    background-color: rgba(235, 235, 235, 0.736);
    transition: 0.6s;
    cursor: pointer;
}
.topBar span{
    font-size: 45px;
    margin: 30px;
}
#menuButton{
    border: none;
    border-radius: 10px;
    background: none;
}
#menuButton:hover{
    background: rgba(215, 215, 215, 0.489);
    transition: 0.6s;
}
#homeButton{
    border: none;
    border-radius: 10px;
    background: none;
    margin-right: 0;
}
#homeButton:hover{
    background: rgba(215, 215, 215, 0.489);
    transition: 0.6s;
}