body{
    margin: 0;
    padding: 0;
}
.menu{
    background-color: none;
    padding: 1px;
    text-align: right;
    border-bottom: 1px solid grey;
}
.menu ul{
    list-style-type: none;
    white-space: nowrap;
}
.menu li{
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin: 0 50px;
    font-size: x-large;
    font-family: 'Quicksand';
    font-weight: 500;
}
.menu li:hover{
    background-color: rgba(235, 235, 235, 0.517);
    transition: 0.4s;
    cursor: pointer;
}